<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
    <form action="http://www.example.ord/comments.php">
    <h4 styel="font-family: 'Courier New', Courier, monospace">What would you like to share with the world? </h4>
	<textarea name="comments" cols="40" rows="7">Enter your comments...</textarea>
	</br>
<input type="button" name="button" value="Submit"/>
	
	
	</form>
</body>
</html>
	  
	